<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2026 CARLOS EMR Project Contributors. All Rights Reserved.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean class="io.github.carlos_emr.drugref2026.util.SpringPropertyConfigurer" />

	<!-- DataSource (HikariCP) -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="driverClassName" value="${db_driver}" />
        <property name="jdbcUrl" value="${db_url}?serverTimezone=UTC" />
        <property name="autoCommit" value="false" />

        <property name="username" value="${db_user}" />
        <property name="password" value="${db_password}" />

        <property name="maximumPoolSize" value="32" />
        <property name="minimumIdle" value="2" />
        <property name="connectionTimeout" value="10000" />
    </bean>

	<!-- JPA (Hibernate) -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="io.github.carlos_emr.drugref2026.ca.dpd" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                            <property name="showSql" value="true"/>
                        </bean>
		</property>
		<property name="jpaProperties">
			<props>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
			</props>
		</property>
	</bean>
	<!-- JPA annotations bean post processor -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<!-- TransactionManager -->
    <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager" autowire="byName" />
    <tx:annotation-driven transaction-manager="txManager" />

	<!-- Managed JPA Beans -->
    <context:component-scan base-package="io.github.carlos_emr.drugref2026" />

    <bean id="taskScheduler" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="2" />
        <property name="maxPoolSize" value="4" />
        <property name="queueCapacity" value="10" />
        <property name="threadNamePrefix" value="drugref-task-" />
    </bean>

</beans>
